body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  color: #333;
  line-height: 1.6;
}

header {
  /* Added a background image here to go behind selfie  */
  background-image: url("SOADlogoblack.png");
  background-size: contain;
  padding: 20px;
  text-align: center;
  color: #fff;
}

header img {
  /* added a selfie of myself in the center at the top  */
  width: 200px;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #333;
}

nav {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #555;
  padding: 5px;
}

main {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #360707;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* added a cool transition effect for style when you hover  */
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #bbb0b0;
}

section:hover {
  /* had the color scheme switch places with the font color and background  */
  background-color: #E0E0E0;
  color:#360707
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #555;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

a {
  color: #555;
}

a:hover {
  color: #333;
}